body{
    background-color: #C19E6A;
}

/*################## titles ################*/

.index-text-wrapper{
    display: flex;
    flex-direction: column;
    margin: 15vh auto;
    gap: 2vh;
}

.index-bold-text{
    color: #EDE3D3;
    font-weight: 900;
    font-size: 6vh;
    margin: 0 auto;
}
.index-italic-text{
    color: #EDE3D3;
    font-weight: 400;
    font-size: 6vh;
    font-style: italic;
    margin: 0 auto;
}
.index-text{
    color: #EDE3D3;
    font-weight: 400;
    font-size: 6vh;
    margin: 0 auto;
}

/*################## unesco ################*/

.index-unesco{
    color: #EDE3D3;
    font-weight: 400;
    font-size: 3vh;
    margin: auto;
}

/*################## buttons ################*/

.index-button-wrapper{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin: auto;
}

.index-button{
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    outline: 20% solid rgba(255, 231, 165, 0.1);
}

.index-button-img{
    height: 6vh;
    width: auto;
}
