body{
    background-color: #1E1915;
    color: #E0B46E;
}

.map-title{
    text-align: center;
    font-size: 6vh;
    font-weight: 900;
    color: #D5AB68;
    margin-top: 8vh;
}

.kras-mapa{
    display: flex;
    height: auto;
    width: 100%;
    margin: auto auto 0 auto;
    position: relative;
}

.kras-mapa-img{
    width: 100%;
    height: auto;
}

/*################## buttons ################*/
.map2-button{
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 1vh;
    max-width: 8vw;
    text-decoration: none;
}

.map2-button-marker{
    width: 1vw;
    height: 1vw;
    margin: 0 auto;
    background-color: #C19E6A;
    border-radius: 50%;
    cursor: pointer;
}

.map2-button-text{
    font-size: 2vh;
    color: #EDE3D3;
    font-weight: 700;
    text-align: center;
}

/* Adjust these to match your image exactly */
.pos1{
    left: 8vw;
    top: 34vh;
}

.pos2{
    left: 18vw;
    top: 43vh;
}

.pos3{
    left: 23vw;
    top: 36vh;
}

.pos4{
    left: 12vw;
    top: 24vh;
}

.pos5{
    left: 30vw;
    top: 28vh;
}

.pos6{
    left: 16vw;
    top: 18vh;
}